[
    { rabbit, [
        { auth_backends, [ rabbit_auth_backend_http ] },
        { loopback_users, [ ] },
        { tcp_listeners, [ 5672 ] },
        { ssl_listeners, [ ] },
        { default_pass, <<"admin">> },
        { default_user, <<"vopen">> },
        { hipe_compile, false }
    ] },
    { rabbitmq_management, [ { listener, [
        { port, 15672 },
        { ssl, false }
    ] } ] },
    { rabbitmq_auth_backend_http, [
        { user_path,     "http://127.0.0.1:3000/auth/user" },
        { vhost_path,    "http://127.0.0.1:3000/auth/vhost" },
        { resource_path, "http://127.0.0.1:3000/auth/resource" }
    ] }
].